.sources-box ul {
    font-size: 1.1rem;
    line-height: 1.7;
    padding-left: 1.2rem;
    margin: 0;
}

    .sources-box ul li {
        margin-bottom: 0.7rem;
    }

.sources-box a {
    color: #1976d2;
    text-decoration: underline;
    transition: color 0.2s;
}

    .sources-box a:hover {
        color: #125ea2;
    }
